.hero {
  background-image: url("../assets/heroimg.png");
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    top: 200px;
    max-width: 300px;
    width: 100%;
    padding: 5px 10px;
    color:#333;
    border: 2px solid #333;
    outline: none;
  }
}
.hero-inner {
  position: absolute;
  bottom: 50px;
  right: 231px;
  &__leni {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262a;
  }
  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: #22262a;
  }
  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262a;
  }
  &__btn1 {
    background: #22262a;
    padding: 4px 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  .hero-inner {
    position: static;
    &__title {
      font-size: 60px;
      line-height: 100px;
    }
  }
}
