.navBs {
  background: transparent;
  backdrop-filter: blur(10px);
}
.nav {
  padding: 15px 0;

  &__list {
    gap: 30px;
  }
  &__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #22262a;
  }
  &__logos {
    display: flex;
  }
  &__mobileLogos {
    display: none;
  }
  &__togle {
    top: 100px;
  }
}
@media screen and (max-width: 450px) {
  .nav {
    &__logos {
      display: none;
    }
    &__mobileLogos {
      display: flex;
    }
  }
}
