.women {
  padding: 111px 0;
  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #22262a;
  }
  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262a;
    padding-bottom: 65px;
    padding-bottom: 5px;
  }
  &__img {
    max-width: 268px;
    border-radius: 16px;
    transition: all ease 4s;

    &:hover {
      transform: scale(1.1);
      transition: all ease 2s;
    }
  }
  &__shop {
    overflow-x: scroll;

    &--text {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 22px;
      color: #22262a;
    }
    &--title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #22262a;
    }
    &--price {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #cf2929;
    }
  }
  &__icons {
    font-size: 50px;
    padding-top: 10px;
    right: 20px;
  }
  a {
    color: #cf2929;
    &:active{
    color: #181414;

    }
  }

  &__carts {
    border-radius: 20px;
  }
}
// .blue {
//   color: #257291;
// }

::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #accbde;
}

::-webkit-scrollbar-thumb {
  background-color: #2c44ac;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
